@charset "utf-8";

/* 配色方案 v1.0.0 */

// 马鞍棕色
$SaddleBrown: #6F370D;
// 灰色
$Gray: #666666;
// 沙棕色
$SandyBrown: #A18179;
// 秘鲁
$Peru: #AF9169;
// 银灰色
$Silver: #B7B7B7;
// 米色
$Beige: #FAFAF8;
// 白色
$White: #FFFFFF;