@font-face {
    font-family: 'iconfont';
    /* Project id 2646455 */
    src: url('//at.alicdn.com/t/font_2646455_psjiydmaio.woff2?t=1626046237969') format('woff2'), url('//at.alicdn.com/t/font_2646455_psjiydmaio.woff?t=1626046237969') format('woff'), url('//at.alicdn.com/t/font_2646455_psjiydmaio.ttf?t=1626046237969') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart-fillcopy:before {
    content: "\e859";
}